
div.container {
  border: 1px solid black;
}
pre {
  margin: 0;
}

.code-block {
  background-color: #ddd;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: .5em;
  padding: 1em;
}

.image-holder {
  padding: 1em;
}
